<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des produits</title>
</head>
<body>
<div th:fragment="content">
    <h1>Gestion des produits</h1>
    <form action="#" th:action="@{/product/add}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" placeholder="Nom du produit" th:field="*{name}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalide</div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Description du produit" th:field="*{description}"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Prix</label>
            <input type="text" class="form-control" id="price" placeholder="Prix du produit" th:field="*{price}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Invalide</div>
        </div>

        <div class="form-group">
            <label for="category">Categorie</label>
            <select class="form-control" id="category" th:field="*{category}">
                <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="tags">Tags</label>
            <select class="form-control" id="tags" th:field="*{tags}" multiple>
                <option th:each="t: ${tags}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <div th:if="${product.pictureOriginalFilename}">
                <img th:src="@{/product/picture/{id}(id = ${product.id})}">

                <a href="#" th:href="@{/product/picture/delete/{id}(id = ${product.id})}" class="btn btn-danger">
                    <i class="ri-delete-bin-fill"></i>
                </a>
            </div>
            <input type="file" name="picture" class="form-control-file">
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
