<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des produits</title>
</head>
<body>
<div th:fragment="content">
    <h1>Gestion des produits</h1>

    <p>
        <a th:href="@{/product/add}" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter un
            produit</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">XPhone</td>
            <td th:text="${#numbers.formatCurrency(1.0f * product.price / 100)}">12.32</td>
            <td th:text="*{category.name}">Phone</td>
            <td>
                <a th:href="@{/product/edit/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <a th:href="@{/product/delete/{id}(id=*{id})}" class="btn btn-danger">
                    <i class="ri-delete-bin-line"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
