<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des tags</title>
</head>
<body>
<div th:fragment="content">
    <h1>Gestion des tags</h1>

    <p>
        <a th:href="@{/tag/add}" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter un
            tag</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}" th:object="${tag}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">4G</td>
            <td>
                <a th:href="@{/tag/edit/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <a th:href="@{/tag/delete/{id}(id=*{id})}" class="btn btn-danger">
                    <i class="ri-delete-bin-line"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
