<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des catégories</title>
</head>
<body>
<div th:fragment="content">
    <h1>Gestion du panier</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Quantité</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${cart}">
            <td th:text="${line.key.name}">Phone</td>
            <td th:text="*{line.value}">3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
