<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des produits</title>
</head>
<body>
<div th:fragment="content">
    <h1>Nos produits</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">XPhone</td>
            <td th:text="${#numbers.formatCurrency(product.price/100)}">12.32</td>
            <td th:text="*{category.name}">Phone</td>
            <td>
                <form class="form-inline" action="#" th:action="@{/cart/add}" th:object="${form}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <div class="form-group">
                        <input type="text" style="width: 6em;"
                               class="form-control text-center" name="quantity" th:field="*{quantity}" />
                    </div>
                    <button type="submit" class="btn btn-primary ml-4">Ajouter</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.number == 0} ? disabled">
                <a class="page-link" href="#" th:href="@{/(page=${products.number - 1})}">Précédent</a>
            </li>
            <li class="page-item"
                th:classappend="${products.number == page - 1} ? active"
                th:each="page: ${#numbers.sequence(1, products.totalPages)}">
                <a th:text="${page}" class="page-link" href="#" th:href="@{/(page=${page - 1})}"></a>
            </li>
            <li class="page-item" th:classappend="${products.number == products.totalPages - 1} ? disabled">
                <a class="page-link" href="#" th:href="@{/(page=${products.number + 1})}">Suivant</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
