<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Remix Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" />

    <!-- page title, will be replaced by given fragment -->
    <title th:replace="${title}">Application Title</title>
</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Accueil</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" th:href="@{/category/}">Gérer les catégories</a>
                    <a class="dropdown-item" href="#" th:href="@{/product/}">Gérer les produits</a>
                    <a class="dropdown-item" href="#" th:href="@{/tag/}">Gérer les tags</a>
                </div>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav navbar-right mr-2">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/cart}">Panier <i class="ri-shopping-cart-fill"></i></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div sec:authorize="isAuthenticated()" class="navbar-text">
            Bonjour <span sec:authentication="principal.username"></span>&nbsp;(<a th:href="@{/logout}" href="#">Déconnexion</a>)
        </div>
    </form>
</nav>

<!-- our site will use bootstrap container layout -->
<div class="container">
    <div class="jumbotron" th:replace="${content}">
        <!-- content to templace -->
        <p>Layout page, content gets here !</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
